<div class="container">
  <h1>"Hello"</h1>
  <p>
    {{title}}
  </p>
  <p>
    {{name}}
  </p>
  <ul>
    <li>{{employee.name}}</li>
    <li>{{employee.age}}</li>
    <li>{{employee.city}}</li>
    <li>{{employee.salary}}</li>
  </ul>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Név</th>
        <th>Életkor</th>
        <th>Település</th>
        <th>Fizetés (HUF)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{employee.name}}</td>
        <td>{{employee.age}}</td>
        <td>{{employee.city}}</td>
        <td>{{employee.salary}}</td>
      </tr>
    </tbody>
  </table>
</div>